#dashboard > i {
  padding: 20px 0 10px 30px;
  color: #FDFEFE;
  font-size: 30px;
}

#dashboard > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 10px;
}

#dashboard > div > div {
  text-align: center;
  background-color: #EAECEE;
  height: 85vh;
  margin: 15px;
  border-radius: 5px;
}

/* Task */

#task {
  background-color: #fff;
  height: 70px;
  width: 80%;
  margin: 15px auto 10px;
  border-radius: 5px;
}

#task > div:first-child {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

#task > div > span {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;

}

#task > div > p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  letter-spacing: 0.02em;
}

/* #task > div > input {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  letter-spacing: 0.02em;
} */
